* {
  box-sizing: border-box;
  padding: 0;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;

}

.main {
  background-image: url('./código-binário-do-computador-de-e-informática-desenho-fundo-números-azuis-no-preto-para-grupo-digitas-informa-o-cifrada-150633137.jpg');
  background-position: left;
  background-size: cover;
  padding: 40px 0;
  min-height: 400px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3 {
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  border: 1px white solid;
  padding: 3px 8px;
  border-radius: 5px;
}

.logo h3 {
  font-size: x-large;
  background-color: rgba(0, 255, 255, 0.73);
  padding: 10px;
  color: black;
  border-radius: 10px;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.form input[type=text] {
  width: 48%;
  justify-content: space-between;
  height: 30px;
  margin: 7px 0px;
  margin: 40px;
}

.items-form {
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items-form input[type=text] {
  width: 45%;
  height: 30px;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
}

.items-form input[type=submit] {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.73);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: 0;
}

.form h2{
  font-weight: normal;
  font-size: 28px;
  background-color: rgba(0, 255, 255, 0.73);
  padding: 15px;
  color: black;
  border-radius: 10px;
  text-transform: uppercase;
}
.container-center-single{
  display: flex;
  justify-content: space-around;
}

.single{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 20%;
  
}

/* medias query */

@media screen and (max-width){
  .tems-form input[type=text]{
    width: 100%;
  }
}